*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
}
header p{
    margin: 40px 0 0 750px;
    margin: 40px 0 0 750px;
    border-radius: 11px;
    padding: 10px;
    background: hsl(156.5, 48.9%, 72.4%);
}

header h1{
    font-family: 'Josefin Sans', sans-serif;
    margin: 48px auto 20px;
    font-size: 44px;

}
.p{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 30px;
      
}
.category_{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size: 20px;
    margin: 70px auto;
}
.section{
    font-size: 13px;
    margin: 70px 0 0 35px;
    width: max-content;
    padding: 10px 20px;
    border-radius: 43px 54px 0px;
    box-shadow: inset -5px -5px 8px 0px #ee251052, inset 5px 5px 8px 0px rgba(189, 39, 39, 0.32);
}

.developers{
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: inset -5px -5px 8px 0px #ee251052, inset 5px 5px 8px 0px rgba(189, 39, 39, 0.32);
    margin-right: 80px;
}
.designers{
    /* background: #eedcdc; */
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: inset -5px -5px 8px 0px #ee251052, inset 5px 5px 8px 0px rgba(189, 39, 39, 0.32);
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.developers-cards{
    padding: 20px;
    margin: 12px auto;
}
.designers-cards{
    padding: 20px;
    margin: 12px auto;
}

.card{
    /* width: 250px; */
    width: 230px;
    height: 280px;
    margin: 0 30px 30px;
    border-radius: 12px;
    box-shadow: inset -5px -5px 8px 0px #914c4552, inset 5px 5px 8px 0px rgba(115, 221, 127, 0.32);
}



.dp{
    width: 80px;
    height: 95px;
    margin: 25px auto 0;
    border-radius: 50px;
}
.dp img{
    width: 100%;
    border-radius: 50px;
}
.name{
    text-align: center;
    margin: 2px 0 8px 0;
}
.category{
    text-align: center;
    font-size: 13px;
    width:max-content;
    margin: 0 auto;
    border-radius: 8px;
    padding: 2px 12px;
    background: #DFE7FD;
}
.work{
    text-align: center;
    margin: 8px 0 7px 0;
    font-size: 12px;
}
.working-on{
    text-align: center;
    font-size: 13px;
    margin: 0 0 8px 0;
}
.twitter{
    margin: 7px auto;
    display: flex;
    justify-content: center;
}
.twitter i{
    color: blue;
}
a{
    text-decoration: none;
    color: black;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 110px 89px 24px;
}
.fueler{
    display: flex;
    border-radius: 8px;
    width: 157px;
    background: #fd0;
    text-align: center;
    padding: 14px 0;
    height: 17px;
}
.fueler-logo{
    padding: 0 0 0 10px;
}
.fueler p{
    font-size: 12px;
    padding: 1px 0 0 8px;
}
.buymeacoffee{
    width: 160px;
}

#view{
    display: flex;
    border: none;
    font-size: 20px;
    color: #000;
    margin: auto;
    cursor: pointer;
    padding: 7px 16px;
    border-radius: 5px;
    background: #ffbf00e3;
    box-shadow: inset -5px -5px 8px 0px #914c4552, inset 5px 5px 8px 0px rgba(115, 221, 127, 0.32);
    width: max-content;
    height: 39px;
}    
#view_{
    display: flex;
    border: none;
    font-size: 20px;
    color: #000;
    margin: auto;
    cursor: pointer;
    padding: 7px 16px;
    border-radius: 5px;
    background: #ffbf00e3;
    box-shadow: inset -5px -5px 8px 0px #914c4552, inset 5px 5px 8px 0px rgba(115, 221, 127, 0.32);
    width: max-content;
    height: 39px;
}
#more{
    display: none;
}
#more_{
    display: none;
}









/* ///////////////////////////////////////////////////////////////// */

@media (max-width:800px){
    header h1 {
        font-size: 40px;
    }
    .p{
        font-size: 20px;
    }    
}
@media (max-width:500px){
    .category_{
        font-size: 13px;
    }
    
    .p{
        font-size: 18px;
        padding: 10px;
    } 
    .developers{
        margin-right:25px ;
    } 
    .margin{
        margin: 12px 0;
    } 
    .footer{
        justify-content:center;
    }
}

